* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    color: rgb(23, 53, 80);;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    margin: 3rem 9rem;
}

#btn {
    color: white;
    background: rgb(23, 53, 80);
    margin-left: 2rem;
    padding: 1px 5px;
    border-radius: 5px;
    border: none;
    box-shadow: 4px 4px 2px #888888;
}

#btn:hover {
    cursor: pointer;
    color: rgb(23, 53, 80);
    background: white;
    border: solid;
    transition: all 0.5s ease;
}

.hide {
    display: none;
}

#animal-info {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 9rem;
}

p {
    margin-top: 1rem;
}

hr {
    margin-top: 1rem;
}